Retail_Rag.json
{
  "name": "Retail Rag",
  "nodes": [
    {
      "parameters": {},
      "id": "04a9e88e-207a-4d9a-8a8b-02ee14aab1e5",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        900,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "0ASf3nXDqcNogoRJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3-groq-tool-use:latest",
        "options": {}
      },
      "id": "d736bbf5-859f-4c3a-be79-14cfb73b096a",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        760,
        560
      ],
      "credentials": {
        "ollamaApi": {
          "id": "H94P9JXpfC3sHM7Y",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3-groq-tool-use:latest",
        "options": {}
      },
      "id": "4fd292b3-830f-488d-a4c3-e2365756bf63",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1660,
        500
      ],
      "credentials": {
        "ollamaApi": {
          "id": "H94P9JXpfC3sHM7Y",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "name": "cool_fashion",
        "description": "Returns Documents related to the shirt inventory information.",
        "topK": 30
      },
      "id": "6a497e71-27d6-4d5d-bde0-3a264f7f9b3f",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1440,
        340
      ]
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "05fcf317-d81f-4657-8d9d-a0a111d9f45a",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1540,
        600
      ],
      "credentials": {
        "ollamaApi": {
          "id": "H94P9JXpfC3sHM7Y",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1u5nNG0_Ay2ovDH7Z5BsThaxKs1qaD3Vs",
          "mode": "list",
          "cachedResultName": "retail",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u5nNG0_Ay2ovDH7Z5BsThaxKs1qaD3Vs"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "effd7d4d-313c-41d8-8683-582079fa5d03",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        600,
        880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0OHJ8sQJ0X7bmTgv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1u5nNG0_Ay2ovDH7Z5BsThaxKs1qaD3Vs",
          "mode": "list",
          "cachedResultName": "retail",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u5nNG0_Ay2ovDH7Z5BsThaxKs1qaD3Vs"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "c4fd4a03-84d9-45a8-927c-117e75174e8c",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        600,
        1100
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0OHJ8sQJ0X7bmTgv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "dd0aa081-79e7-4714-8a67-1e898285554c",
              "name": "folder_id",
              "value": "={{ $json.parents[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d209ee5e-6f86-49df-9192-3336ae2c6f14",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        880
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "a335d5fe-861b-4388-96e4-930ccbb77903",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1300,
        880
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0OHJ8sQJ0X7bmTgv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Local RAG AI Agent with Chat Interface",
        "height": 527.3027193303974,
        "width": 670.6821106717343
      },
      "id": "df9757c6-5ccd-40b4-b0e6-c399cfcbe448",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for Local RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "a184fb3a-dec0-42a2-8573-647520256558",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Workflow to Create Local Knowledgebase from Google Drive Folder",
        "height": 705.2695614889159,
        "width": 1568.9362829025763,
        "color": 5
      },
      "id": "8369370a-131a-469d-8c6b-9e94f80a6721",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        760
      ]
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "80202319-e906-44be-8814-6d9908e40660",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        620,
        340
      ],
      "webhookId": "18d1c410-f06f-4980-b547-c6f143899f30"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "fc8c15e2-2746-482a-a5ae-dfb5f8162791",
      "name": "Embeddings Ollama1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1420,
        1320
      ],
      "credentials": {
        "ollamaApi": {
          "id": "H94P9JXpfC3sHM7Y",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileid",
                "value": "={{ $json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "94a5d7bd-5daf-412c-bb48-0f93a7d26598",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1760,
        1100
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "options": {}
      },
      "id": "2546370c-a84e-4cf8-9f6d-c7c8656fb6fc",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1760,
        1320
      ]
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\nconst embeddings = new OllamaEmbeddings({\n  model: \"nomic-embed-text\",\n  baseUrl: \"http://host.docker.internal:11434\"\n});\n\nconst vectorStore = await QdrantVectorStore.fromExistingCollection(\n  embeddings,\n  {\n    url: \"http://host.docker.internal:6333\",\n    collectionName: \"shirt_inventory_2_binary\",\n  }\n);\n\nconst fileIdToDelete = this.getInputData()[0].json.file_id;\n\nconst filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    }\n\n// const results = await vectorStore.similaritySearch(\"this\", 10, filter);\n// const idsToDelete = results.map((doc) => doc.id);\n\n// NOT IMPLEMENTED!\n// await vectorStore.delete({ ids: idsToDelete });\n\nvectorStore.client.delete(\"shirt_inventory_2_binary\", {\n  filter\n});\n\nreturn [ {json: { file_id: fileIdToDelete } } ];\n"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "main",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "id": "4c328247-2355-4e8f-a601-875f18d1b9b1",
      "name": "Clear Old Vectors",
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        1080,
        880
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "shirt_inventory_2_binary",
          "mode": "list",
          "cachedResultName": "shirt_inventory_2_binary"
        },
        "options": {}
      },
      "id": "07a145fe-80ba-470c-a721-45f5a5795834",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1260,
        480
      ],
      "credentials": {
        "qdrantApi": {
          "id": "mksxT1wGWsJVA2zy",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a customer support agent for a store named cool fashion. Your name is Louis. Your tone should be friendly and helpful. when asked questions about the store, use the provided context. if you do not know the answer, then simply respond with \"I don't know\". "
        }
      },
      "id": "ce575922-65a3-49a4-8faf-0af346765d9d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        840,
        340
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "shirt_inventory_2_binary",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4228254e-189d-4d7a-825e-3ab2a9adc9c5",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1700,
        880
      ],
      "credentials": {
        "qdrantApi": {
          "id": "mksxT1wGWsJVA2zy",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Clear Old Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Clear Old Vectors": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bac069f-9296-4b23-975a-22574be2e2f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49c35a1d5cfb7854184603d0abddbbad50af0381d2c905cfb222ac293c3fda42"
  },
  "id": "ndaYF9NCcs7IqfUr",
  "tags": []
}